.git
.gitignore
__pycache__/
*.pyc
.pytest_cache/
htmlcov/
tests/
notebooks/
docs/
scripts/
data/raw/
data/output/
data/description/
data/db/*.db
mlflow.db
mlflow_backup.db
mlflow_data/
*.md
waterflow2.bat
test_OCR.png
